<div class="container mt-3">
    <h2 class="text-warning d-flex justify-content-center">
        Listado de Productos
    </h2>

    <ul class="list-group w-50 mx-auto">
        @for(prod of ListaProductos ;track prod)
        {
            <li class="list-group-item text-center">
                {{prod.descripcion}}, ${{prod.precio}}
            </li>
        }
    </ul>
    <h2 class="text-success d-flex justify-content-center mt-2">
        Agregar Nuevo Producto
    </h2>
    <!-- <app-formulario-producto/> -->
    <app-formulario-producto (respuestaProducto)="AgregarProductoAlista($event)"></app-formulario-producto>
</div>